body{
    font-family: Microsoft JhengHei;
}

#banner{
    height: 350px;
    background-image: url(../images/baa.png);
    background-position: center center;
    background-size: cover;
}

#info{
    background-color: rgb(215, 231, 250);
}